/* Reset body and html */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: white;
}

/* Video container to make the video full screen */
#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Places video in the background */
}

/* Style the video to cover the full screen */
#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* Overlay content */
#content {
    position: relative;
    z-index: 1; /* Places content above the video */
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
@font-face {
    font-family: 'MyFont';
    src: url('fonts/my-font.ttf') format('truetype');
}

.centered-text {
    font-family: 'MyFont', sans-serif; /* Use the custom font */

    
    .rubik-burned-regular {
        font-family: "Rubik Burned", system-ui;
        font-weight: 400;
        font-style: normal;
        color: white;
      }
.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}
     
.pinyon-script-regular {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .neonderthaw-regular {
    font-family: "Neonderthaw", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
}
